*{margin: 0;padding: 0}
body{background-color: #EFEFEF;font-size: 12px;}
a{text-decoration: none;color: inherit;}
li,ul{list-style: none;}
.clearfix::after{content: " ";display: block;clear: both;}
.icon {width: 2em; height: 2em;vertical-align: -0.15em;overflow: hidden;
 }
/* 加载动画 */
.wrapper{background-color: white;position:fixed;padding:0;margin:0;top:0;left:0;width: 100%;
        height: 100%;z-index: 10;}
.loader{width: 90px;height: 90px;}
/* 导航栏 */
.topNavBar{
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    transition: linear 0.3s;
    z-index: 1;
}
.topNavBar .logo{
    float: left;
    font: bold 20px "Arial Black";
}
.topNavBar .logo .logoMy{
    color: #1fbeca;
    margin: 0 5px 0 20px;
}
.topNavBar .logo .logoResume{
    color: #9A9DA2;
}
.topNavBar nav ul li{
    float: right;
    display: block;
    margin: 0 17px;   
    padding-top: 12px;
}
.topNavBar nav ul li a{
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
    color: #1fbeca;
    font-weight: bold;
    position: relative;
}
/* 关于 */
.banner{
    background-image: url("../img/earth.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}
.userCard{
    max-width: 850px;
    margin:-300px auto 0px auto;
    padding: 50px;
    background-color:white;
}
.picture img{
    float: left;
    width: 250px;
    height: 300px;
}
.text{
    margin-left: 100px;
    float: left;
    vertical-align: top;
}
.text .hello{
    background-color: #1fbeca;
    padding: 5px 15px;
    font-size: 16px;
    color: white;
    line-height: 30px;
}
.text .trangle{
    display:block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top: 10px solid  #1fbeca;
    border-right: 10px solid transparent;
}
.text h1{
    font-size: 22px;
    margin: 10px 0;
}
.text h2{
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}
.text hr{
    margin: 15px 0;
    color:#A0A3AA;
}
.text table{
    font-size: 14px;
    text-align: left;
}
.text th{
    padding: 5px 0;
    width: 100px;
}
.text td{
    color: #A0A3AA;
    padding: 5px 0;
    width: 250px;
}
footer{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 50px;
    background-color:#1fbeca;
}
footer svg{
    padding: 10px 0;
    margin: 0 20px;
    vertical-align: top;
    fill:white;
}
footer svg:hover{
    background-color: #1fbeca;
}
section{
    margin:80px 0;
}
.download{
    width: 200px;
    margin: 30px auto;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px; 
}
.download a{
    font-size: 20px;
}
.introduction{
    font: 16px "KaiTi";
    text-align: center;
}
/* 技能 */
.skills{
    margin:80px 0;
}
.skills>p{
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
}
.skills>div{
    max-width: 850px;
    padding: 50px;
    background-color: white;
    margin: 20px auto;
}
.skills li{
    float: left;
    width: 42%;
    margin: 35px 0px;
}
.skills li:nth-child(even){
    float: right;
    width: 42%;
    margin: 35px 0px;
}
.skills .bar-data{
    font: 20px;
    line-height: 30px;
}
.skills .bar-line{
    height: 5px;
    background-color: #bff9fa;
    border-radius: 3px;
    width: 100%;
}
.skills .bar-line>div{
    height: 5px;
    border-radius: 3px;
    width: 0%;
    transition: width 0.5s;
}
/* 作品 */
.portfolio{
    max-width: 1040px;
    margin: 80px auto;
    background-color: #EFEFEF;
    text-align: center;
}
.portfolio p{
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
}
.portfolio .window{
    margin: 30px auto;
    max-width: 940px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.portfolio .images{
    display: inline-flex;
    transition: all 1s;
  }
.portfolio .images > img{
    max-width: 940px;
    height: 400px;
}
.portfolio .images svg:nth-child(1){
    left: 50px;
    top:50%;
    position: absolute;
    fill:white;
    cursor: pointer;
}
.portfolio .images svg:nth-child(2){
    position: absolute;
    top:50%;
    right:50px;
    transform:scaleX(-1);
    fill:white;
    cursor: pointer;
}
.portfolio ul{
    margin:-80px auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}
.portfolio .slideTip{
    background-color: white;
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.action{
    transform: scale(1.2)
}